In [2]:
import pandas as pd  
import numpy as np  



import os
os.getcwd()

'C:\\Users\\Admin'

regression analytics


linear -- OLS  --- y=m x + c

m==slope/coefficient======training----data
GD --- convergence---  minimize the cost function---- J(thetha) == RMSE





REGULARIZATION -----

--RIDGE  --- J() modified
--LASSO   --- J() modified

In [3]:
#download data from kaggle https://www.kaggle.com/mirichoi0218/insurance/data

insurance = pd.read_csv("C:\\Users\\Admin\\Downloads\\13720_18513_bundle_archive\\insurance.csv")

In [4]:
insurance.shape

(1338, 7)

In [5]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [6]:
insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
insurance.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# DUPLICATE HANDLING

In [8]:
insurance[insurance.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [9]:
insurance[insurance.charges == 1639.5631]

#insurance2[insurance.charges == 29141.36030]

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [10]:
insurance1= insurance.drop_duplicates()
insurance1.shape

(1337, 7)

In [11]:
insurance1.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [12]:
insurance1

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

# ENCODING

In [14]:
#LABEL

from sklearn.preprocessing import OrdinalEncoder
#entire dataframe -- atleast 2 dim array


encoder = OrdinalEncoder()
#list of categorical variables
insurance2=insurance1

insurance2[["sex","smoker","region"]]
#encoder.fit(pq).categories_
insurance2[["sex_ord","smoker_ord","region_ord"]]=pd.DataFrame(encoder.fit_transform(insurance2[["sex","smoker","region"]]))
#??encoder.transform
#pq

insurance1

C:\Users\Admin\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,age,sex,bmi,children,smoker,region,charges,sex_ord,smoker_ord,region_ord
0,19,female,27.900,0,yes,southwest,16884.92400,0.0,1.0,3.0
1,18,male,33.770,1,no,southeast,1725.55230,1.0,0.0,2.0
2,28,male,33.000,3,no,southeast,4449.46200,1.0,0.0,2.0
3,33,male,22.705,0,no,northwest,21984.47061,1.0,0.0,1.0
4,32,male,28.880,0,no,northwest,3866.85520,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0.0,0.0,0.0
1334,18,female,31.920,0,no,northeast,2205.98080,0.0,0.0,2.0
1335,18,female,36.850,0,no,southeast,1629.83350,0.0,0.0,3.0
1336,21,female,25.800,0,no,southwest,2007.94500,0.0,1.0,1.0
1337,61,female,29.070,0,yes,northwest,29141.36030,NaN,NaN,NaN

In [15]:
#LABEL

from sklearn.preprocessing import LabelEncoder
#entire dataframe -- atleast 2 dim array


encoder = LabelEncoder()
#list of categorical variables
#insurance2=insurance1

#insurance2[["sex","smoker","region"]]
#encoder.fit(pq).categories_
insurance2[["sex_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["sex"]]))
insurance2[["smoker_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["smoker"]]))
insurance2[["region_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["region"]]))

#??encoder.transform
#pq

insurance1

C:\Users\Admin\AppData\Roaming\Python\Python37\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)
C:\Users\Admin\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:3065: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,age,sex,bmi,children,smoker,region,charges,sex_ord,smoker_ord,region_ord,sex_ord1,smoker_ord1,region_ord1
0,19,female,27.900,0,yes,southwest,16884.92400,0.0,1.0,3.0,0.0,1.0,3.0
1,18,male,33.770,1,no,southeast,1725.55230,1.0,0.0,2.0,1.0,0.0,2.0
2,28,male,33.000,3,no,southeast,4449.46200,1.0,0.0,2.0,1.0,0.0,2.0
3,33,male,22.705,0,no,northwest,21984.47061,1.0,0.0,1.0,1.0,0.0,1.0
4,32,male,28.880,0,no,northwest,3866.85520,1.0,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0.0,0.0,0.0,0.0,0.0,0.0
1334,18,female,31.920,0,no,northeast,2205.98080,0.0,0.0,2.0,0.0,0.0,2.0
1335,18,female,36.850,0,no,southeast,1629.83350,0.0,0.0,3.0,0.0,0.0,3.0
1336,21,female,25.800,0,no,southwest,2007.94500,0.0,1.0,1.0,0.0,1.0,1.0
1337,61,female,29.070,0,yes,northwest,29141.36030,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#LABEL

from sklearn.preprocessing import OneHotEncoder
#entire dataframe -- atleast 2 dim array


encoder = OneHotEncoder()
insurance2=encoder.fit_transform(insurance1)
insurance2

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [17]:
insurance2=pd.get_dummies(insurance1)
insurance2

,age,bmi,children,charges,sex_ord,smoker_ord,region_ord,sex_ord1,smoker_ord1,region_ord1,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,0.0,1.0,3.0,0.0,1.0,3.0,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,1.0,0.0,2.0,1.0,0.0,2.0,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,1.0,0.0,2.0,1.0,0.0,2.0,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,1.0,0.0,1.0,1.0,0.0,1.0,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,1.0,0.0,1.0,1.0,0.0,1.0,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0.0,0.0,0.0,0.0,0.0,0.0,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,0.0,0.0,2.0,0.0,0.0,2.0,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,0.0,0.0,3.0,0.0,0.0,3.0,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,0.0,1.0,1.0,0.0,1.0,1.0,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,1,0,1,0,0

In [18]:
#finally before starting the ML process
#check NULLs/NAs
insurance1.isnull().sum()

age            0
sex            0
bmi            0
children       0
smoker         0
region         0
charges        0
sex_ord        1
smoker_ord     1
region_ord     1
sex_ord1       1
smoker_ord1    1
region_ord1    1
dtype: int64

In [ ]:
#insurance3=insurance2.drop(["sex","smoker","region","bmi"],axis=1)
#insurance3

In [19]:
df_x=insurance2.drop("charges",axis=1)
df_y=insurance2["charges"]

df_x
df_y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1337, dtype: float64

# DATA SPLIT

In [20]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(df_x,df_y, test_size=0.2,random_state=100)

# MODEL BUILDING

In [23]:
# import the regressor 
from sklearn.linear_model import LinearRegression,Ridge
#statsmodel -- OLS -- TS

regressor = LinearRegression()  #---> calls constructor --- __init__

#??regressor


#visual studio and V C++--- packages

#python---not compiler -- java -- compiler
#interpreted

In [21]:
import site
site.getsitepackages()

['C:\\ProgramData\\Anaconda3',
 'C:\\ProgramData\\Anaconda3\\lib\\site-packages']

In [24]:


 
regressor.fit(X_train, y_train) #training the algorithm


print(regressor)

LinearRegression()



import pickle as pk

file.open() 

pk.dump(regressor,"out_pickle")

file.close()

In [26]:

#To retrieve the intercept:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)



#y=b0 + b1x1

-971.7783666905834
[   267.61343178    330.31981751    484.64166688    189.29835683
    -81.49679074    -26.70679117    189.29835683    -81.49679074
    -26.70679117    108.72208994   -108.72208994 -11801.85157935
  11801.85157935    356.02398483    181.62457164   -150.9932177
   -386.65533877]

In [27]:
X_train.columns

Index(['age', 'bmi', 'children', 'sex_ord', 'smoker_ord', 'region_ord',
       'sex_ord1', 'smoker_ord1', 'region_ord1', 'sex_female', 'sex_male',
       'smoker_no', 'smoker_yes', 'region_northeast', 'region_northwest',
       'region_southeast', 'region_southwest'],
      dtype='object')

# check accuracy scores

In [32]:
#train R2
regressor.score(X_train,y_train)

0.7501870512092312

In [37]:
#test R2
regressor.score(X_test,y_test)

#X_test.isnull().sum()

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

# check data types

In [ ]:
X_test.dtypes


#from sklearn.impute import

In [ ]:
#pd.unique(X_test.region_ord )
X_test.shape

In [38]:
y_pred=regressor.predict(X_test)

#np.where(X_test.values >= np.finfo(np.float64).max)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
from sklearn import metrics

print("Accuracy:",metrics.r2_score(y_test, y_pred))


#r2 metric=
#accuracy=TP+TN/TP+TN+FN+FP

#DTREE--Accuracy: 0.8296736761321832===   D=21

#0.7268413297007621  --- D=18
#Accuracy: 0.6970626004890764 -- D=2

#Accuracy: 0.7518789895576367

In [ ]:
#print(regressor.feature_importances_)
mean_squared_error(y_test,y_pred)

In [ ]:
X_test.shape

In [ ]:
from sklearn.metrics import mean_squared_error 
from math import sqrt

#calculate rmse

error1 = sqrt(mean_squared_error(y_test,y_pred))
error1

In [ ]:
mean_squared_error(y_test,y_pred)
#RMSE=sqrt(MSE)

# OLS for stats

In [ ]:
import statsmodels.api as sm

est = sm.OLS( y_train,X_train)
est2 = est.fit()

print(est2.summary())

In [ ]:
X_train.shape
from math import log

In [ ]:
#Formula::
#AIC = n * LL + 2 * k
#BIC = n * LL + k * log(n)

In [ ]:
def calculate_aic(n, mse, num_params):
    aic = n * log(mse) + 2 * num_params
    return aic

In [ ]:
def calculate_bic(n, mse, num_params):
    bic = n * log(mse) + num_params * log(n)
    return bic

In [ ]:
calculate_aic(268,33635652.17496405,11)

In [ ]:
calculate_bic(268,33635652.17496405,11)