In [1]:
import pandas as pd  
import numpy as np

In [4]:
#download data from kaggle https://www.kaggle.com/mirichoi0218/insurance/data

insurance = pd.read_csv("C:\\Users\\Admin\\Downloads\\13720_18513_bundle_archive\\insurance.csv")

In [5]:
insurance.shape

(1338, 7)

In [10]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [9]:
insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [12]:
insurance.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

# DUPLICATE HANDLING

In [151]:
insurance[insurance.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [152]:
insurance[insurance.charges == 1639.5631]

#insurance2[insurance.charges == 29141.36030]

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [153]:
insurance1= insurance.drop_duplicates()
insurance1.shape

(1337, 7)

In [93]:
insurance1.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [47]:
insurance1

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

# ENCODING

In [88]:
#LABEL

from sklearn.preprocessing imsport OrdinalEncoder
#entire dataframe -- atleast 2 dim array


encoder = OrdinalEncoder()
#list of categorical variables
insurance2=insurance1

insurance2[["sex","smoker","region"]]
#encoder.fit(pq).categories_
insurance2[["sex_ord","smoker_ord","region_ord"]]=pd.DataFrame(encoder.fit_transform(insurance2[["sex","smoker","region"]]))
#??encoder.transform
#pq

insurance1

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,age,sex,bmi,children,smoker,region,charges,sex_ord,smoker_ord,region_ord
0,19,female,27.900,0,yes,southwest,16884.92400,0.0,1.0,3.0
1,18,male,33.770,1,no,southeast,1725.55230,1.0,0.0,2.0
2,28,male,33.000,3,no,southeast,4449.46200,1.0,0.0,2.0
3,33,male,22.705,0,no,northwest,21984.47061,1.0,0.0,1.0
4,32,male,28.880,0,no,northwest,3866.85520,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0.0,0.0,0.0
1334,18,female,31.920,0,no,northeast,2205.98080,0.0,0.0,2.0
1335,18,female,36.850,0,no,southeast,1629.83350,0.0,0.0,3.0
1336,21,female,25.800,0,no,southwest,2007.94500,0.0,1.0,1.0
1337,61,female,29.070,0,yes,northwest,29141.36030,NaN,NaN,NaN

In [91]:
#LABEL

from sklearn.preprocessing import LabelEncoder
#entire dataframe -- atleast 2 dim array


encoder = LabelEncoder()
#list of categorical variables
#insurance2=insurance1

#insurance2[["sex","smoker","region"]]
#encoder.fit(pq).categories_
insurance2[["sex_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["sex"]]))
insurance2[["smoker_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["smoker"]]))
insurance2[["region_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["region"]]))

#??encoder.transform
#pq

insurance1

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,age,sex,bmi,children,smoker,region,charges,sex_ord,smoker_ord,region_ord,sex_ord1,smoker_ord1,region_ord1
0,19,female,27.900,0,yes,southwest,16884.92400,0.0,1.0,3.0,0.0,1.0,3.0
1,18,male,33.770,1,no,southeast,1725.55230,1.0,0.0,2.0,1.0,0.0,2.0
2,28,male,33.000,3,no,southeast,4449.46200,1.0,0.0,2.0,1.0,0.0,2.0
3,33,male,22.705,0,no,northwest,21984.47061,1.0,0.0,1.0,1.0,0.0,1.0
4,32,male,28.880,0,no,northwest,3866.85520,1.0,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,0.0,0.0,0.0,0.0,0.0,0.0
1334,18,female,31.920,0,no,northeast,2205.98080,0.0,0.0,2.0,0.0,0.0,2.0
1335,18,female,36.850,0,no,southeast,1629.83350,0.0,0.0,3.0,0.0,0.0,3.0
1336,21,female,25.800,0,no,southwest,2007.94500,0.0,1.0,1.0,0.0,1.0,1.0
1337,61,female,29.070,0,yes,northwest,29141.36030,NaN,NaN,NaN,NaN,NaN,NaN

In [95]:
#LABEL

from sklearn.preprocessing import OneHotEncoder
#entire dataframe -- atleast 2 dim array


encoder = OneHotEncoder()
insurance2=encoder.fit_transform(insurance1)
insurance2

<1337x1946 sparse matrix of type '<class 'numpy.float64'>'
	with 9359 stored elements in Compressed Sparse Row format>

In [100]:
insurance2=pd.get_dummies(insurance1)
insurance2

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [154]:
#finally before starting the ML process
#check NULLs/NAs
insurance1.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [73]:
#insurance3=insurance2.drop(["sex","smoker","region","bmi"],axis=1)
#insurance3

      age  children      charges  sex_ord  smoker_ord  region_ord
0      19         0  16884.92400      0.0         1.0         3.0
1      18         1   1725.55230      1.0         0.0         2.0
2      28         3   4449.46200      1.0         0.0         2.0
3      33         0  21984.47061      1.0         0.0         1.0
4      32         0   3866.85520      1.0         0.0         1.0
...   ...       ...          ...      ...         ...         ...
1333   50         3  10600.54830      0.0         0.0         0.0
1334   18         0   2205.98080      0.0         0.0         2.0
1335   18         0   1629.83350      0.0         0.0         3.0
1336   21         0   2007.94500      0.0         1.0         1.0
1337   61         0  29141.36030      NaN         NaN         NaN

[1337 rows x 6 columns]

In [156]:
df_x=insurance2.drop("charges",axis=1)
df_y=insurance2["charges"]

df_x
df_y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1337, dtype: float64

# DATA SPLIT

In [157]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(df_x,df_y, test_size=0.2,random_state=100)

# MODEL BUILDING

In [104]:
# import the regressor 
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()

In [159]:


 
regressor.fit(X_train, y_train) #training the algorithm

print(regressor)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
regressor.

In [106]:

#To retrieve the intercept:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)

-872.9537010173044
[   267.0808858     329.99006895    483.07929172     23.86025563
    -23.86025563 -11782.41549424  11782.41549424    379.09568849
    209.29822392   -163.33208937   -425.06182303]

In [147]:
X_train.columns

Index(['age', 'bmi', 'children', 'sex_female', 'sex_male', 'smoker_no',
       'smoker_yes', 'region_northeast', 'region_northwest',
       'region_southeast', 'region_southwest'],
      dtype='object')

# check accuracy scores

In [124]:
#train R2
regressor.score(X_train,y_train)

0.7499585357504712

In [125]:
#test R2
regressor.score(X_test,y_test)

0.7518789895576367

# check data types

In [107]:
X_test.dtypes

age                   int64
bmi                 float64
children              int64
sex_female            uint8
sex_male              uint8
smoker_no             uint8
smoker_yes            uint8
region_northeast      uint8
region_northwest      uint8
region_southeast      uint8
region_southwest      uint8
dtype: object

In [111]:
#pd.unique(X_test.region_ord )
X_test.shape

(268, 11)

In [115]:
y_pred=regressor.predict(X_test)

#np.where(X_test.values >= np.finfo(np.float64).max)

In [118]:
from sklearn import metrics
print("Accuracy:",metrics.r2_score(y_test, y_pred))


#r2 metric=
#accuracy=TP+TN/TP+TN+FN+FP

#DTREE--Accuracy: 0.8296736761321832===   D=21

#0.7268413297007621  --- D=18
#Accuracy: 0.6970626004890764 -- D=2

#Accuracy: 0.7518789895576367

Accuracy: 0.7518789895576367

In [162]:
#print(regressor.feature_importances_)
mean_squared_error(y_test,y_pred)

33635652.17496405

In [163]:
X_test.shape

(268, 11)

In [161]:
from sklearn.metrics import mean_squared_error 
from math import sqrt

#calculate rmse

error1 = sqrt(mean_squared_error(y_test,y_pred))
error1

5799.625175385393

In [137]:
mean_squared_error(y_test,y_pred)
#RMSE=sqrt(MSE)

33635652.17496405

# OLS for stats

In [129]:
import statsmodels.api as sm

est = sm.OLS( y_train,X_train)
est2 = est.fit()

print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.750
Model:                            OLS   Adj. R-squared:                  0.748
Method:                 Least Squares   F-statistic:                     397.4
Date:                Sat, 18 Jul 2020   Prob (F-statistic):          9.37e-313
Time:                        16:45:54   Log-Likelihood:                -10836.
No. Observations:                1069   AIC:                         2.169e+04
Df Residuals:                    1060   BIC:                         2.173e+04
Df Model:                           8
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
age                267.0809     13.427     19.891      0.000     240.734     293.428
bmi                329.9901     32.354     10.199      0.000     266.504     393.476
children           483.0793    160.107      3.017      0.003     168.917     797.241
sex_female        -325.3212    472.076     -0.689      0.491   -1251.632     600.989
sex_male          -373.0417    481.721     -0.774      0.439   -1318.276     572.193
smoker_no        -1.213e+04    472.945    -25.651      0.000   -1.31e+04   -1.12e+04
smoker_yes        1.143e+04    518.017     22.071      0.000    1.04e+04    1.24e+04
region_northeast   204.5049    377.140      0.542      0.588    -535.522     944.532
region_northwest    34.7075    380.253      0.091      0.927    -711.426     780.841
region_southeast  -337.9228    430.615     -0.785      0.433   -1182.878     507.032
region_southwest  -599.6526    396.730     -1.511      0.131   -1378.118     178.813
==============================================================================
Omnibus:                      241.172   Durbin-Watson:                   1.975
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              554.033
Skew:                           1.225   Prob(JB):                    4.93e-121
Kurtosis:                       5.537   Cond. No.                     6.87e+17
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.92e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [143]:
X_train.shape
from math import log

In [ ]:
#Formula::
#AIC = n * LL + 2 * k
#BIC = n * LL + k * log(n)

In [144]:
def calculate_aic(n, mse, num_params):
    aic = n * log(mse) + 2 * num_params
    return aic

In [141]:
def calculate_bic(n, mse, num_params):
    bic = n * log(mse) + num_params * log(n)
    return bic

In [164]:
calculate_aic(268,33635652.17496405,11)

4666.734033258795

In [146]:
calculate_bic(268,33635652.17496405,11)

18603.66210963938