In [2]:
import pandas as pd  
import numpy as np

In [3]:
insurance = pd.read_csv("C:\\Users\\Admin\\Downloads\\13720_18513_bundle_archive\\insurance.csv")

In [14]:
insurance.shape

(1338, 7)

In [15]:
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [16]:
insurance.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [7]:
insurance.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
insurance[insurance.duplicated()]

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [17]:
insurance[insurance.charges == 1639.5631]

#insurance2[insurance.charges == 29141.36030]

     age   sex    bmi  children smoker     region    charges
195   19  male  30.59         0     no  northwest  1639.5631
581   19  male  30.59         0     no  northwest  1639.5631

In [18]:
insurance1= insurance.drop_duplicates()
insurance1.shape

(1337, 7)

In [19]:
insurance1.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [20]:
insurance1

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1337 rows x 7 columns]

In [ ]:
#LABEL

from sklearn.preprocessing import OrdinalEncoder
#entire dataframe -- atleast 2 dim array


encoder = OrdinalEncoder()
#list of categorical variables
insurance2=insurance1

insurance2[["sex","smoker","region"]]
#encoder.fit(pq).categories_
insurance2[["sex_ord","smoker_ord","region_ord"]]=pd.DataFrame(encoder.fit_transform(insurance2[["sex","smoker","region"]]))
#??encoder.transform
#pq

insurance1

In [ ]:
#LABEL

from sklearn.preprocessing import LabelEncoder
#entire dataframe -- atleast 2 dim array


encoder = LabelEncoder()
#list of categorical variables
#insurance2=insurance1

#insurance2[["sex","smoker","region"]]
#encoder.fit(pq).categories_
insurance2[["sex_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["sex"]]))
insurance2[["smoker_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["smoker"]]))
insurance2[["region_ord1"]]=pd.DataFrame(encoder.fit_transform(insurance2[["region"]]))

#??encoder.transform
#pq

insurance1

In [ ]:
#LABEL

from sklearn.preprocessing import OneHotEncoder
#entire dataframe -- atleast 2 dim array


encoder = OneHotEncoder()
insurance2=encoder.fit_transform(insurance1)
insurance2

In [21]:
insurance2=pd.get_dummies(insurance1)
insurance2

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,10600.54830,0,1,1,0,0,1,0,0
1334,18,31.920,0,2205.98080,1,0,1,0,1,0,0,0
1335,18,36.850,0,1629.83350,1,0,1,0,0,0,1,0
1336,21,25.800,0,2007.94500,1,0,1,0,0,0,0,1
1337,61,29.070,0,29141.36030,1,0,0,1,0,1,0,0

In [ ]:

insurance1.isnull().sum()

In [ ]:
insurance3=insurance2.drop(["sex","smoker","region","bmi"],axis=1)
insurance3

In [22]:
df_x=insurance2.drop("charges",axis=1)
df_y=insurance2["charges"]

df_x
df_y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1337, dtype: float64

In [23]:
from sklearn.model_selection import train_test_split

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(df_x,df_y, test_size=0.2,random_state=100)

In [2]:
# import the regressor 
from sklearn.linear_model import Ridge, Lasso, ElasticNet

#REGULARIZATION--- L2 ridge
#L1 --LASSO

#alpha=0 ====OLS


regressor_r = Lasso(alpha=100,random_state=100) 
regressor_r

Lasso(alpha=100, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=100,
      selection='cyclic', tol=0.0001, warm_start=False)

In [9]:
??ElasticNet

In [64]:


 
regressor_r.fit(X_train, y_train) #training the algorithm

regressor_r

Lasso(alpha=100, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=100,
      selection='cyclic', tol=0.0001, warm_start=False)

In [65]:

#To retrieve the intercept:
print(regressor_r.intercept_)
#For retrieving the slope:
print(regressor_r.coef_)

10839.61758560728
[ 2.67159557e+02  3.18681248e+02  4.18521391e+02  0.00000000e+00
 -0.00000000e+00 -2.29530765e+04  1.97894570e-12  0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -4.05759535e+01]

In [ ]:
257.5238433   260.68674544   95.66732437  -33.21932601   33.21932601
 -401.9649192   401.9649192     5.27912202  -13.32350465   36.40324938
  -28.35886675

In [59]:
#train R2
regressor_r.score(X_train,y_train)
100
80

0.7489319588072156

In [60]:
75
70
76
#test R2
regressor.score(X_test,y_test)

0.7516271170197673

In [ ]:
X_test.dtypes

In [ ]:
#pd.unique(X_test.region_ord )
X_test.shape

In [ ]:
from sklearn import metrics
print("Accuracy:",metrics.r2_score(y_test, y_pred))


#r2 metric=
#accuracy=TP+TN/TP+TN+FN+FP

#DTREE--Accuracy: 0.8296736761321832===   D=21

#0.7268413297007621  --- D=18
#Accuracy: 0.6970626004890764 -- D=2

Accuracy: 0.7518789895576367

In [ ]:
y_pred=regressor.predict(X_test)

#np.where(X_test.values >= np.finfo(np.float64).max)

In [ ]:
#print(regressor.feature_importances_)

In [ ]:
from sklearn.metrics import mean_squared_error 
from math import sqrt

import matplotlib.pyplot as plt

%matplotlib inline



y_test

#RMSE=sqrt(MSE)

In [ ]:
error1 = sqrt(mean_squared_error(y_test,y_pred)) #calculate rmse
error1



#KNN-5.515006380894805

#DTREE-- 4.481213508616157
#4.867565069212129 --- D=2
6.3916990637085

In [ ]:
mean_squared_error(y_test,y_pred)

In [ ]:
import statsmodels.api as sm
est = sm.OLS( y_train,X_train)
est2 = est.fit()
print(est2.summary())

In [ ]:
X_train.shape
from math import log

In [ ]:
def calculate_aic(n, mse, num_params):
	aic = n * log(mse) + 2 * num_params
	return aic

In [ ]:
def calculate_bic(n, mse, num_params):
	bic = n * log(mse) + num_params * log(n)
	return bic

In [ ]:
calculate_aic(1069,33635652.17496405,11)

In [ ]:
calculate_bic(1069,33635652.17496405,11)

# model train and test

In [ ]:
#dataset = pd.read_csv('Weather.csv')

In [ ]:
dataset.shape

In [ ]:
dataset.describe()

In [ ]:

import matplotlib.pyplot as plt  
import seaborn as sns 

%matplotlib inline

In [ ]:
dataset.plot(x='MinTemp', y='MaxTemp', style='o')  
plt.title('MinTemp vs MaxTemp')  
plt.xlabel('MinTemp')  
plt.ylabel('MaxTemp')  
plt.show()

In [ ]:
X = dataset['MinTemp'].values.reshape(-1,1)
y = dataset['MaxTemp'].values.reshape(-1,1)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# evaluation

In [ ]:
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

In [ ]:
df1 = df.head(25)
df1.plot(kind='bar',figsize=(16,10))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

In [ ]:
plt.scatter(X_test, y_test,  color='gray')
plt.plot(X_test, y_pred, color='red', linewidth=2)
plt.show()