In [5]:
#ask for user inputs


name=input("\n\nPress the enter your name  ")


print("Hello ",name)

Press the enter your name  Rahul
Hello  Rahul

In [8]:
##Maths


#assignment operator

sal=3000  #integer datatype



#check / validation operator
print(sal==3000)

True

In [10]:
#increase by 10 percent

print(sal+(sal*.1))

3300.0

In [7]:

#boolean

num1=88
num2=99

result=num1+num2


print(result)

187

In [21]:
a=300
print(a)

if (a>500):
    print(10000)
else:
    print(90000)

300
90000

In [18]:
x=False

if True:
    print("section 1")#;x=3;
else:
    print("section 2")
    print("False")

section 2
False

In [19]:
if False:
    print("Answer")#;x=3;
    print("True")
else:
    print("Answer")
    
    print("False")

Answer
False
88

In [39]:
#lst

lst_sals = [10000,200000,355555,478899,4900000,53333333,30000]
lst_sals

for t in lst_sals:
    if t<300000:
        print(t+(t*.1))
    else:
        print(1)
        continue
        print(t)
        
        
print(99)

11000.0
220000.0
1
1
1
1
33000.0
99

In [27]:
for t in lst_sals:
  print(t)

10000
200000
355555
478899
4900000
53333333

In [94]:
#break vs continue

fruits = ["apple", "banana", "cherry","apple", "banana", "cherry"]
for x in fruits:
        print(x)
        if x == "cherry":
            continue
        
        
        print(100)

apple
100
banana
100
cherry
apple
100
banana
100
cherry

In [67]:
fruits = ["apple", "banana", "cherry"]

fruits[0]="mango"
fruits[0]

'mango'

In [69]:
#tuple

fruits_t = ("apple", "banana", "cherry")

#fruits_t[0]="mango"
#fruits_t[0]

for x in fruits_t:
    print(x)

apple
banana
cherry

In [81]:
#complex datatypes
#dictionary

#key and value



student = {'Name': 'Zara', 'Age': 7, 'Class': 'DS'} --- DICT -- DOCUMENT-- MongoDB-NoSQL
--DOCUMENT ORIENTED DATABASE
--MONGODB--     pymongo
--package---
DF<---table
column
{}
----JSONLITE



--pyhive
--pymongo


student2 = {'Name': 'ajay', 'Age': 27, 'Class': 'DS1'}

#print( "student['Name']:", student['Name'])
#print ("student['Age']: ", student['Age'])

student.keys()
student.values()

student['Age']=99
student['Age']

99

In [86]:
for i in student:
    print(i,student[i])

Name Zara
Age 99
Class DS

In [ ]:
int
float
#string
list =[]
set
tuple

dict---HASHMAP
K,V

In [57]:

    
    

set1={1,2,3,4,4,3,8,99,8}

set1[1]

Zara
7
First

In [2]:
import pyhive as ph

ph.hive()

In [17]:

#add every element to its next element

arr=[1,2,3,55,65,44]





arr1=[3,5,58,120,109]

In [18]:
x=len(arr)-1

for i in range(len(arr)):
    if i!=x:
        print(arr[i]+arr[i+1])

3
5
58
120
109