In [1]:


counter = 100          # An integer assignment
miles   = 1000.999       # A floating point
name    = "John"       # A string character



print( counter)
print (miles)
print( name)

a = b = c = 1

a,b,c = 1,2,"john"


str = 'Hello World!'

arr=str.split(' ')

#array of character

print (str          )# Prints complete (string
print (str[0]       )# Prints first character of the (string
print (str[2:5]     )# Prints characters starting from 3rd to 5th
print (str[2:]      )# Prints (string starting from 3rd character
print (str * 2      )# Prints (string two times
print (str + " " + "TEST" )# Prints concatenated (string

100
1000.0
John
Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World! TEST

In [22]:
str = 'Hello World!'

arr=str.split(' ')


str=arr[1]
str[::-1]

'!dlroW'

In [1]:
str[0]=8
str[0]
#a,b,c = 1,2, 88

TypeError: 'type' object does not support item assignment

AttributeError: 'Student' object has no attribute 'displayStudent'

In [16]:
print(str)
print(str[::-1])

Hello World!
!dlroW olleH

In [4]:
str = 'Hello World!'

array of character

print (str          )# Prints complete (string
print (str[0]       )# Prints first character of the (string
print (str[2:5]     )# Prints characters starting from 3rd to 5th
print (str[2:]      )# Prints (string starting from 3rd character
print (str * 2      )# Prints (string two times
print (str + " " + "TEST" )# Prints concatenated (string

SyntaxError: invalid syntax (<ipython-input-4-11792ce34412>, line 3)