In [ ]:
#Naive Bayes CLASSIFICATION

In [ ]:
# CONDITIONAL PROBABILITY

![](NaiveBayes.PNG)


![](NB1.PNG)

In [ ]:
# read - https://www.saedsayad.com/naive_bayesian.htm

#data - https://archive.ics.uci.edu/ml/datasets/sms+spam+collection

In [1]:
import pandas as pd

import numpy as np

In [5]:

df = pd.read_csv('SMSSpamCollection',
                   sep='\t', 
                   header=None,
                   names=['label', 'message'])

df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [6]:
import pandas as pd

df = pd.read_table('SMSSpamCollection',
                   sep='\t', 
                   header=None,
                   names=['label', 'message'])

In [7]:
df

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham               Will ü b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [8]:
df['label'] = df.label.map({'ham': 0, 'spam': 1})

In [9]:
df['label']

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: label, Length: 5572, dtype: int64

In [6]:
df['message'] = df.message.map(lambda x: x.lower())


#NLP

In [10]:
df['message']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

In [12]:
df['message'] = df.message.str.replace('[^\w\s]', '')

df['message']

0       Go until jurong point crazy Available only in ...
1                                 Ok lar Joking wif u oni
2       Free entry in 2 a wkly comp to win FA Cup fina...
3             U dun say so early hor U c already then say
4       Nah I dont think he goes to usf he lives aroun...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                  Will ü b going to esplanade fr home
5569    Pity  was in mood for that Soany other suggest...
5570    The guy did some bitching but I acted like id ...
5571                            Rofl Its true to its name
Name: message, Length: 5572, dtype: object

In [ ]:
# NLP processing

In [13]:
import nltk

In [14]:
#Do ONCE ONLY

#nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [15]:
df['message'] = df['message'].apply(nltk.word_tokenize)

In [16]:
df['message']

0       [Go, until, jurong, point, crazy, Available, o...
1                          [Ok, lar, Joking, wif, u, oni]
2       [Free, entry, in, 2, a, wkly, comp, to, win, F...
3       [U, dun, say, so, early, hor, U, c, already, t...
4       [Nah, I, dont, think, he, goes, to, usf, he, l...
                              ...
5567    [This, is, the, 2nd, time, we, have, tried, 2,...
5568         [Will, ü, b, going, to, esplanade, fr, home]
5569    [Pity, was, in, mood, for, that, Soany, other,...
5570    [The, guy, did, some, bitching, but, I, acted,...
5571                     [Rofl, Its, true, to, its, name]
Name: message, Length: 5572, dtype: object

In [19]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
 
df['message'] = df['message'].apply(lambda x: [stemmer.stem(i) for i in x])

In [20]:
df['message']

0       [Go, until, jurong, point, crazi, avail, onli,...
1                            [Ok, lar, joke, wif, u, oni]
2       [free, entri, in, 2, a, wkli, comp, to, win, F...
3       [U, dun, say, so, earli, hor, U, c, alreadi, t...
4       [nah, I, dont, think, he, goe, to, usf, he, li...
                              ...
5567    [thi, is, the, 2nd, time, we, have, tri, 2, co...
5568             [will, ü, b, go, to, esplanad, fr, home]
5569    [piti, wa, in, mood, for, that, soani, other, ...
5570    [the, guy, did, some, bitch, but, I, act, like...
5571                       [rofl, it, true, to, it, name]
Name: message, Length: 5572, dtype: object

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

# This converts the list of words into space-separated strings
df['message'] = df['message'].apply(lambda x: ' '.join(x))

count_vect = CountVectorizer()
counts = count_vect.fit_transform(df['message'])

In [22]:
from sklearn.feature_extraction.text import TfidfTransformer


#Tfidf  -- TERM FREQUENCY  -- INVERSE DOCUMENNT FREQUNCY

transformer = TfidfTransformer().fit(counts)

counts = transformer.transform(counts)

In [32]:
counts

<5572x8145 sparse matrix of type '<class 'numpy.float64'>'
	with 72500 stored elements in Compressed Sparse Row format>

In [31]:
counts.data.shape

(72500,)

In [28]:
#5572 * 8145

#Pandas Dataframe # DENSE   ---- numpy sparse matrix
#45 million

45383940

In [ ]:
#MODEL TRAINING

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(counts, df['label'], random_state=100,test_size=0.1)

In [36]:
#pd.DataFrame(X_train)

                                                      0
0       (0, 7758)\t0.19643988827560915\n  (0, 7710)\...
1       (0, 7746)\t0.14272466003326395\n  (0, 7710)\...
2       (0, 8089)\t0.22495292458041882\n  (0, 7780)\...
3       (0, 7918)\t0.1843688293015568\n  (0, 7515)\t...
4       (0, 8089)\t0.22030228575605146\n  (0, 7124)\...
...                                                 ...
5009    (0, 8106)\t0.09272243745328486\n  (0, 7846)\...
5010    (0, 6949)\t0.4693241643632138\n  (0, 4347)\t...
5011    (0, 8089)\t0.12371781985410453\n  (0, 6267)\...
5012    (0, 7108)\t0.2247699720642763\n  (0, 7087)\t...
5013    (0, 8074)\t0.4711036288595711\n  (0, 6069)\t...

[5014 rows x 1 columns]

In [51]:
from sklearn.naive_bayes import MultinomialNB, BernoulliNB

model = MultinomialNB()

model.fit(X_train, y_train)
model.score(X_train, y_train)

0.9654966094934184

In [52]:

model2 = BernoulliNB()

model2.fit(X_train, y_train)
model2.score(X_train, y_train)

0.9856402074192262

## Evaluating the Model

In [53]:
import numpy as np

predicted = model.predict(X_test)

print(np.mean(predicted == y_test))

0.946236559139785

In [54]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(y_test, predicted))

[[476   0]
 [ 30  52]]

In [ ]:
work is to complete this section
heatmap
precission and recall
TPR

TNR

error_rate

In [ ]:
ROC AUC


x FPR--- y TPR


1-sensitivity vs sepcifity